/* reset */
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
    width: inherit;
    height: inherit;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


// variables

$main-color: #1dc078;
$padding-side: 10px;
$black: #333;
$lightgrey: #F6F6F6;
$header-height: 64px;



// mixins

// 멀티라인 말줄임 표시
// $line-cnt : 라인 수
// $line-height : line-height값
// 사용법 : @include ellipsis(3, 1.6em);
@mixin ellipsis($line-cnt, $line-height) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: $line-height;
    height: $line-height * $line-cnt; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}



//style

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: $black;
    margin: 0;
}

header {
    width: 100%;
    height: $header-height;

    position: fixed;
    background: white;
    z-index: 100;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 81% / 50%);

    display: flex;
    justify-content: center;
    
}

header nav {
    max-width: 1068px;
    // margin: 0 auto;
    padding: 0 1rem;

    height: $header-height;
    width: 100%;
    // padding: 0 $padding-side;
    display: flex;
    align-items: center;
    
    position: relative;

    #logo {
        display: inline-block;
        height: inherit;
        display: flex;
        align-items: center;
        fill: $main-color;
    }

    #mobile-menu-icon {
        display: none;
    }

}

#nav-bar-class, 
#nav-bar-menu a, 
#nav-bar-community, 
#search-box,
#nav-bar-cart,
#nav-bar-alarm,
#user-info-wrapper {
    padding: 0 0.5rem;
    height: $header-height;
    display: flex;
    align-items: center;
}

#nav-bar-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    vertical-align: middle;
    height: 100%;
    margin-left: 0.5rem;

    i {
        color: $main-color;
        padding-left: 0.5rem;
        position: relative;
        top: 0.125rem;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    div > span {
        padding: 0;
    }

    #nav-bar-class:hover > span,
    #nav-bar-community:hover > span,
    .menuA:hover {
        color: $main-color;
    }

    svg {
        width: 1rem;
        height: 1rem;
        color: $main-color;
        padding-left: 0.25rem;
        padding-right: 0;
    }

}

#nav-bar-left {
    display: flex;
}

#search-box button {
    position: absolute;
    left: 10rem;

    span {
        font-weight: 800;
    }
}

#nav-bar-right {
    display: flex;
    align-items: center;
    padding: 0;

    div, span, svg {
        padding: 0;
        margin: 0 0.5rem;
    }

    div#user-info-wrapper {
        padding: 0;
    }

    input {
        height: 2rem;
        box-sizing: border-box;
        padding: 5px 9px;
        background: $lightgrey;
        border: none;
        border-radius: 4px;
    }

    input:hover {
        border: 1px solid rgb(143, 142, 142);
    }

    input:focus {
        outline-color: $main-color;
    }

    #search-box {
        position: relative;
    }

    #user-info {
        background: url('src/default_profile.png') center / cover;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        border-radius: 50%;
        margin: 0.5rem 0;
        padding: 0;
    }

}

#dash-board {
    a {
        font-weight: 700;
        height: 2.25rem;
        background: $main-color;
        color: white;
        border-radius: 5px;
    }

}

#nav-bar-alarm,
#nav-bar-cart {
    width: 1.25rem;
}

div#nav-bar-alarm {
    padding-left: 0;
    background: url('src/icon/lnr-alarm.svg') no-repeat center;
}

#nav-bar-alarm:hover {
    background: url('src/icon/lnr-alarm-fill.svg') no-repeat center / contain;
}

#nav-bar-cart {
    background: url('src/icon/lnr-cart.svg') no-repeat center;
}

#nav-bar-cart:hover {
    background: url('src/icon/lnr-cart-fill.svg') no-repeat center / contain;
}

#nav-bar-class, 
#nav-bar-community, 
#nav-bar-cart, 
#nav-bar-alarm, 
#user-info-wrapper {
    cursor: pointer;
}

#nav-bar-class:hover, 
#nav-bar-community:hover, 
nav a:hover {
    background: $lightgrey;
}

a#logo:hover {
    background: white;
}

li {
    padding: 0.25rem 0;
    cursor: pointer;
}

#class-menu-depth-1,
.class-menu-depth-2,
.class-menu-depth-3 {
    box-sizing: border-box;
    width: 180px;
    height: 410px;
    font-size: 0.85rem;
    line-height: 1.6rem;

    span {
        padding: 0;
        display: block;
    }
}

#class-menu-depth-1,
#community-menu {
    display: none;
}

#nav-bar-class:hover #class-menu-depth-1,
#nav-bar-community:hover #community-menu {
    display: block;
}

#class-menu-depth-1::before,
#community-menu::before,
#cart-drop-menu::before,
#alarm-drop-menu::before,
#user-drop-menu::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    top: 0;
    bottom: -2em;
    box-sizing: border-box;
    
    border: 0.35rem solid black;
    border-color: transparent transparent white white;
    
    transform-origin: 0 0;
    transform: rotate(135deg);

    box-shadow: -2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}

#class-menu-depth-1::before {
    left: 2.25rem;
}

#class-menu-depth-1 li span:hover,
.class-menu-depth-3 li:hover {
    color: $main-color;
}

.class-menu-depth-2,
.class-menu-depth-3 {
    display: none;
}

#class-menu-depth-1,
#community-menu,
.class-menu-depth-2,
.class-menu-depth-3,
#cart-drop-menu,
#alarm-drop-menu,
#user-drop-menu {
    box-shadow: 8px 5px 8px 1px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
}


#class-menu-depth-1,
#community-menu,
.class-menu-depth-2,
.class-menu-depth-3 {
    z-index: 20;
    position: absolute;
    background: white;
    padding: 0.5rem 1rem;

    li {
        width: 180px;
    }

    li span {
        padding: 0;
    }

}

#class-menu-depth-1 {
    left: 130px;
    top: 60px;

    li:hover > ul {
        display: block;
    }

    ul:hover > ul {
        display: block;
    }

    ul:hover {
        display: block;
    }
}

#community-menu {
    left: 200px;
    top: 60px;
    font-size: 0.85rem;

    li {
        width: auto;
    }
}

#community-menu::before {
    right: 1.25rem;
}

ul#community-menu li i{
    color: $black;
    padding-right: 0.5rem;
}

.class-menu-depth-2,
.class-menu-depth-3 {
    background: white;
    position: absolute;
    top: 0;
    left: 180px;
}

#nav-bar-cart:hover #cart-drop-menu,
#nav-bar-alarm:hover #alarm-drop-menu,
#user-info-wrapper:hover #user-drop-menu {
    display: block; 
}

#cart-drop-menu::before {
    right: 0;
}

div#cart-drop-menu {
    position: absolute;
    top: 60px;
    right: 108px;
    background: white;
    width: 442px;
    height: 420px;
    padding: 0;

    display: none;

    input {
        display: none;
    }

    #cart-drop-menu-top {
        display: flex;
        padding: 0;

        label {
            width: 221px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border-bottom: solid 2px $lightgrey;
            cursor: pointer;
        }

        input:checked + label {
            border-bottom: solid 2px $main-color;
            font-weight: 700;
        }
    }

    #cart-drop-menu-bottom {
        padding: 0;
    }

    #cart-content,
    #wishlist-content {
        box-sizing: border-box;
        padding: 1rem;
        height: 372px;
        flex-direction: column;
        justify-content: space-between;

        display: none;
    }

    .show#cart-content, 
    .show#wishlist-content {
        display: flex;
    }

    #cart-a, 
    #wishlist-a {
        line-height: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        background: $main-color;
        padding: 0.5rem 0;
        color: white;
        font-weight: 700;
    }

    #wishlist-a {
        background: salmon;
    }

}

#alarm-drop-menu::before {
    right: 0;
}

#user-drop-menu::before {
    right: 8px;
}

div#alarm-drop-menu {
    position: absolute;
    top: 60px;
    right: 72px;
    background: white;
    width: 400px;
    padding: 0;

    display: none;
}

#alarm-drop-top {
    height: 64px;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid $lightgrey;

    span {
        color: $main-color;
    }
}

#alarm-list {
    li {
        display: flex;
        padding: 0.75rem 0;
    }
}

.alarm-list-left {
    display: flex;
}

#alarm-list .read-icon {
    padding: 0;
    margin: 10px 8px 8px 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: orangered;
    flex-shrink: 0;
}

.alarm-time {
    align-self: center;
    width: 64px;
    padding: 0 10px;
    flex-shrink: 0;
    font-size: 0.75rem;
    text-align: center;
    color: grey;
}

a#more-alarms {
    background: $main-color;
    color: white;
    font-weight: 700;
    height: 56px;
    line-height: 56px;
    text-align: center;
    display: block;
}

div#user-drop-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    width: 316px;
    height: 506px;
    padding: 0;

    display: none;

    i {
        color: $black;
        font-size: 1.2rem;
        padding-right: 0.5rem;
    }
}

div#user-profile {
    padding: 1rem 0.5rem;
}

#user-profile-top {
    display: flex;
}

div#profile-pic {
    background: url(src/default_profile.png) no-repeat center / cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    padding: 0;
    overflow: hidden;

    a {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        padding: 0;
        z-index: 1;
        background: rgba(48, 48, 48, 0.719) fixed;
        color: white;
        font-size: 0.75rem;
        text-align: center;
        position: relative;
        top: 1.5rem;
    }
}

div#user-name {
    font-weight: 700;
    padding: 0;

    a {
        padding: 0;
        height: inherit;
        display: inline-block;
    }

    a:hover {
        background: inherit;
    }

    i {
        font-size: 0.75rem;
        font-weight: 700;
        position: relative;
        top: -1px;
    }
}

div#user-status {
    font-size: 0.85rem;
    padding: 0;
}

div#user-info-middle {
    display: flex;
    margin: 1rem 0;

    div {
        background: $lightgrey;
        padding: 0.5rem 0.5rem;
        font-size: 0.85rem;
        color: grey;
        display: flex;
        justify-content: space-between;

        .num {
            color: $main-color;
            font-weight: 700;
        }

        span:first-child {
            font-weight: 700;
        }
    }

    #coupons {
        margin-right: 0.25rem;
        flex-grow: 1;
    }

    #points {
        flex-grow: 2;
    }
}

div#user-info-list-wrapper {
    padding: 0;
    
    #user-info-header {
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        height: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        border-bottom: 2px solid $main-color;
    }

    #user-info-list {
    height: 280px;
    overflow-x: scroll;
    background: $lightgrey;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    }

    #user-info-list::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    li {
        padding: 0.75rem 0.5rem;
    }

    li:hover {
        color: grey;

        i {
            color: grey;
        }
    }

    #user-info-list-more {
        padding-left: 2.2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;

        li {
            padding: 0.5rem 0.5rem 0.5rem 0;
        }
    }

    #user-info-list-more.show {
        max-height: 18rem;
    }
}

#user-info-list-more-button i:last-child{
    float: right;
}

div#user-info-bar {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.25rem;
    font-size: 0.85rem;

    a{
        height: inherit;
        padding: 0;

        i {
            padding: 0 0 0 0.25rem;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }

    a:hover {
        background: white;
    }
}



main {
    padding-top: $header-height;
}

#main-slide-show {
    height: 320px;
    width: 100%;
}

#main-slide-show-wrapper {
    border-bottom: 1px solid rgb(235, 233, 233);
    overflow: hidden;
}

#pagination-bar {
    box-sizing: border-box;
    height: $header-height;
    padding: 0.5rem;
    
    display: grid;
    grid-template-columns: 176px 1fr;
    align-items: center;
}

#pagination-right {
    height: 3rem;
    border-left: 1px solid rgb(235, 233, 233);
}

#pagination-button-wrapper {
    height: 3rem;
    position: relative;

    .pagination-gradient {
        width: 1.5rem;
        height: 3rem;
        z-index: 10;
        position: relative;
    }

    .pagination-gradient:first-child {
        background: linear-gradient(to right, white, white, transparent 90%);
        left: 1.5rem;
        float: left;

        display: none;
    }

    .pagination-gradient:last-child {
        background: linear-gradient(to left, white, white, transparent 90%);
        top: -3rem;
        float: right;
        right: 1rem;

        display: block;
    }

}

#pagination-button-content {
    padding: 0 0.5rem;
    margin: 0 1rem;
    height: 3rem;
    flex-grow: 1;

    display: flex;
    align-items: center;
    position: relative;

    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#pagination-button-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.pagination-button {
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 1.25rem;
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;

    flex-grow: 0;
    flex-shrink: 0;

    font-size: 0.85rem;
    font-weight: 700;
}

.pagination-button:last-child {
    margin-right: 1rem;
}

.pagination-button:hover {
    cursor: pointer;
}

.pagination-button.show {
    border: 2px solid $main-color;
    color: $main-color;
}

#pagination-controller {
    width: 7rem;
    height: 2.25rem;
    padding: 0 1rem;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 1.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    color: white;

    span {
        display: flex;
        vertical-align: middle;
    }

    i {
        font-weight: bold;
        padding: 0.125rem;
    }

    i.fas {
        font-size: 0.75rem;
    }

    .fas.fa-pause {
        display: block;
    }

    .fas.fa-play {
        display: none;
    }
}

#pagination-drop-button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 1px solid lightgrey;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 2px 4px 0 rgb(0 10 18 / 10%);

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-weight: 700;
    }
}

#pagination-drop-button:hover {
    cursor: pointer;
}

#pagination-drop-button.open {
    border: 1px solid $main-color;

    i {
        color: $main-color;
        transform: rotate(180deg);
    }
}

#pagination-drop-button.open + #pagination-drop-menu {
    display: block;
}

#pagination-drop-menu {
    width: 857px;
    border: 1px solid $lightgrey;
    border-radius: 10px;
    background: white;

    position: absolute;
    top: $header-height;
    right: 0;
    z-index: 1;

    box-shadow: 0 1px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 4%);

    display: none;
}

#pagination-drop-menu-top {
    display: flex;
    justify-content:space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $lightgrey;

    span {
        font-weight: 700;
    }

    span:last-child {
        color: lightgrey;
    }

    span:last-child:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#pagination-drop-menu-bottom {
    padding: 0.5rem;

    .pagination-button {
        display: inline-block;
        margin: 0.125rem;
        font-weight: 700;
    }
}

#main-slide-show {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    scroll-snap-type: x mandatory;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#main-slide-show::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#main-slide-show:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.main-slide-banner-wrapper {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;

    scroll-snap-align: center;
    white-space: nowrap;
}

.main-slide-banner {
    max-width: 1024px;
    position: relative;
    margin: 0 auto;
    height: 100%;

    display: flex;
    justify-content: center;

}

.main-slide-words {
    z-index: 10;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.main-slide-tag {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.125rem 0.5rem;
    border-radius: 5px;
    
    background: $main-color;
}

.main-slide-title {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.75rem 0;
}

.main-slide-image {
    height: 320px;
    max-height: 320px;
    width: auto;
    position: absolute;
    top: 0;
}

#pagination-controller {
    .fas.fa-pause, 
    .fas.fa-play,
    .lnr.lnr-chevron-left,
    .lnr.lnr-chevron-right {
        cursor: pointer;
    }

}

#search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;

    padding: 0;

    input {
        height: 3.25rem;
        width: 60%;
        border: 1px solid #b3ead2;
        border-radius: 1.625rem;
        background: #e3f8ef;
        outline: none;
        
        padding: 0 2rem;

        box-shadow:  0 3px 5px rgb(0 10 18 / 10%);

        transition: all .3s;
    }

    input::placeholder {
        color: #95c2ae;
        font-size: 0.875rem;
    }

    input.on {
        background: white;
        border: 1px solid lightgrey;
        transition: all .3s;
        box-shadow:  0 3px 8px rgb(0 10 18 / 20%);
    }

    input.on::placeholder {
        color: lightgrey;
        transition: all .3s;
    }

    div:nth-child(2) {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 79%;
            width: 1.25rem;
            
            i {
                font-size: 1.25rem;
                font-weight: bold;
                color: $black;
            }
        }
    }

}

#input-title {
    font-size: 1.5rem;
    padding: 3rem 0 1.5rem 0;
}

section {
    padding: 1.5rem 0;
}

#main-slide-show-wrapper {
    padding: 0;

    .container {
        position: relative;
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;

    h2 {
        margin: 1rem 0;

        i {
            font-size: 0.75rem;
            font-weight: bold;
            vertical-align: middle;
            padding-left: 0.5rem;
        }

        span {
            color: $main-color;
        }

        .badge {
            color: orangered;
            font-size: 0.85rem;
            padding-left: 0.5rem;
        }
    }

}

#recent {
    .container-contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3%;
    }

    a {
        display: grid;
        grid-template-columns: 174px 1fr;
        grid-gap: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        transition: box-shadow .1s;

        h4 {
            @include ellipsis(2, 1.5rem);
        }

        img {
            width: 174px;
        }
    }

    a:hover {
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
        transition: box-shadow .1s;
    }

    .class-info-wrapper {
        padding: 0.5rem;
    }

    .class-info {
        display: flex;
        align-items: flex-end;

        font-size: 0.85rem;

    }

    .class-meta-info {
        padding-top: 0.5rem;
        margin-right: 0.5rem;

        span:nth-child(2) {
            display: inline-block;
            padding: 0 0.5rem;
            color: lightgrey;
            font-weight: 700;
        }

        progress { 
            background-color: rgb(228, 227, 227); 
            border: 0;
            height: 2px;
            width: 100%;
            border-radius: 1px;
        }

        /* For Chrome or Safari */ 
        progress::-webkit-progress-bar { 
            background-color: rgb(228, 227, 227); 
            border: 0;
            height: 2px;
            width: 100%;
            border-radius: 1px;
        } 
  
        progress::-webkit-progress-value { 
            background-color: $main-color !important; 
        } 
  
        /* For Firefox */  
  
        progress::-moz-progress-bar { 
            background-color: $main-color !important; 
        } 
  
        /* For IE10 */ 
  
        progress { 
            background-color: $main-color; 
        } 

    }

    button {
        flex-shrink: 0;
        width: 6rem;
        background: $main-color;
        color: white;
        font-size: 0.875rem;
        font-weight: 700;
        height: 2rem;
        border-radius: 3px;
        outline: none;

        i {
            padding-left: 4px;
        }
    }
}


// containers

section.carousel {
    position: relative;

    width: 100%;
}

.carousel-container {
    width: 100%;

    position: relative;

    .carousel-button {
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.507);
        border: 1px solid lightgrey;
        border-radius: 50%;

        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        outline: none;

        i {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.7);
        }
    }

    .carousel-button:disabled {
        i {
            color: rgba(0, 0, 0, 0.2);
        }
    }

    .carousel-button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.2s;
    } 
    
    .carousel-button:disabled:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        cursor: not-allowed;
    }

    .carousel-left-button {
        left: -22px;
    }

    .carousel-right-button {
        right: -22px;
    }

    .star-rating {
        .fas.fa-star {
            display: inline-block;
            position: relative;
            color: lightgrey;
        }
    
        .fas.fa-star.half:after {
            font-family: FontAwesome;
            content: "\f005";
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            overflow: hidden;
            color: gold;
        }
    
        .fas.fa-star.full {
            color: gold;
        }
    }

    .carousel-slide-pages {
        height: inherit;

        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        scroll-snap-type: x mandatory;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

    }
    
    .carousel-slide-pages::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    .content-card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: min-content;
        grid-gap: 8px;
        margin: 0 4px;

        flex-grow: 0;
        flex-shrink: 0;
    }

    .content-card:hover .hover-div{
        display: flex;
    }

    .content-card {
        width: 100%;
        flex-grow: 0;

        position: relative;

        .hover-div {
            position: absolute;
            top: 0;
            left: 0;
            
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            padding: 0.75rem;

            color: $lightgrey;

            display: none;
            flex-direction: column;


            .hover-bottom {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .hover-icons {
                    flex-grow: 0;
                    flex-shrink: 0;

                    float: right;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    div {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    a:hover {
                        i.lnr-cart {
                            color: rgba(135, 206, 250, 0.719);
                        }
                        i.lnr-heart {
                            color: rgba(250, 135, 135, 0.719);
                        }
                    }

                    a:hover + .icon-hover-text {
                        opacity: 1;
                    }

                    i {
                        margin: 0.25rem 0.5rem;
                    }

                    .icon-hover-text {
                        display: inline;
                        opacity: 0;
                        height: 1rem;
                        line-height: 1rem;
                        font-size: 0.5rem;
                        background: rgb(253, 215, 159);
                        color: rgb(54, 42, 0);
                        padding: 0.125rem 0.4rem;
                        border-radius: 2px;
                        margin-right: 0.25rem;

                        position: relative;
                    }

                    .icon-hover-text:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border: 5px solid rgb(253, 215, 159);
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        border-top-color: transparent;

                        position: absolute;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .hover-title {
                font-weight: bold;
                font-size: 0.875rem;
            }

            .card-description {
                font-size: 0.85rem;
                margin-top: 0.5rem;

                line-height: 1.2rem;
                height: 4.8rem;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4; /* 라인수 */
                -webkit-box-orient: vertical;
                word-wrap:break-word; 
            }

            .hover-info {
                color: lightskyblue;
                font-size: 0.75rem;
                line-height: 1.2rem;

                div {
                    max-height: 1.2rem;
                }

                i {
                    font-size: 0.75rem;
                    padding-right: 0.25rem;
                }
            }
        }

        // .thumb-wrapper {
        //     height: 128px;
        //     overflow: hidden;

        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }

        img {
            max-width: 100%;
            height: auto;
        }

        .card-title {
            font-weight: 700;
            padding: 0.5rem 0 0.25rem 0;
            line-height: 1.5rem;
            height: 3rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* 라인수 */
            -webkit-box-orient: vertical;
            word-wrap: break-word; 
            
        }

        .card-tutor {
            color: grey;
            font-size: 0.875rem;
            padding: 2px 0;
        }

        .card-score {
            font-size: 0.5rem;
            padding: 2px 0;
        }

        .card-price {
            .discounted-price,
            .regular-price {
                color: #007aff;
                font-weight: 700;
                padding: 4px 0;
            }

            .origin-price {
                color: grey;
                font-size: 0.85rem;
                text-decoration : line-through;
            }
        }

        .card-tag {
            display: inline-block;
            color: rgb(59, 59, 59);
            font-size: 0.85rem;
            padding: 0 0.5rem;
            height: 24px;
            line-height: 24px;
            border-radius: 3px;
            margin: 4px 4px 0 0;
        }

        .card-tag.price {
            background: rgb(255, 224, 224);
        }

        .card-tag.update {
            background: rgb(209, 244, 255);
        }

        .card-tag.discount {
            background: rgb(255, 176, 176);
        }

    }
}


#read {
    .container-contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3%;
    }

    img {
        width: 100%;
        margin-bottom: 0.5rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .article-title {
        height: 1.5rem;
        overflow: hidden;
        padding-bottom: 0.25rem;
    }

    .article-description {
        @include ellipsis(2, 1.5rem);
    }

}

#bottom-slide {
    width: 100%;
    height: 182px;
    padding: 0;
    margin: 3rem 0;

    position: relative;

    #bottom-slide-banner-container {
        display: flex;
        width: 100%;

        overflow-x: scroll;
        overflow-y: hidden;

        scroll-snap-type: x mandatory;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    #bottom-slide-banner-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    
    .bottom-slide-banner-wrapper {
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .bottom-slide-banner {
        position: relative;

        height: 182px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .container {
        position: absolute;
        height: 182px;
        width: 100%;

        box-sizing: border-box;
    }

    .bottom-slide-words {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        font-size: 1.125rem;
    }

    .bottom-slide-a-button {
        display: inline-block;
        background: white;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 0.75rem;
        border-radius: 5px;
        color: $main-color;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.75rem;
    }

    #bottom-slide-pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
    }

    .bottom-slide-pagination-button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.479);
        margin: 16px 4px;

        flex-grow: 0;
        flex-shrink: 0;

        cursor: pointer;

        transition: all .2s;
    }

    .bottom-slide-pagination-button.on {
        width: 28px;
        height: 7px;
        border-radius: 3.5px;
        background: white;

        transition: all .2s;
    }

    #bottom-slide-banner-container + .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
    }

    .bottom-slider-button {
        width: 26px;
        height: 26px;
        border-radius: 3px;
        background: whitesmoke;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        position: absolute;
        bottom: 0;
        
        margin: 13px 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        outline: none;

        i {
            font-weight: bold;
            font-size: 12px;
            line-height: 26px;
        }
    }

    #bottom-slider-left {
        right: 46px;
    }

    #bottom-slider-right {
        right: 16px;
    }


}

#services {
    background: rgb(243, 243, 243);
    padding: 1.5rem 0 3rem 0;

    h2 {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

    span {
        display: inline-block;
        color: grey;
        margin-bottom: 2rem;
        font-size: 0.95rem;
    }
    .container-contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 330px;
        grid-gap: 1.75%;
    }

    .service-info-container {
        background: white;
        padding: 3rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .service-description {
        color: grey;
    }

    h4 {
        margin-bottom: 0.5rem;
    }

    a {
        display: inline-block;
        margin-top: 2rem;
        background: $main-color;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 1rem;
        border-radius: 1.125rem;
        color: white;
        font-weight: 700;
        
        i {
            font-weight: bold;
            padding-left: 4px;
        }
    }
}

#float-button {
    position: fixed;
    bottom: 0;
    right: 0;
    
    z-index: 100;

    cursor: pointer;

    #float-button-content {
        display: flex;
        align-items: center;
        margin: 24px;

        div:first-child {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 30px;
            padding: 0 58px 0 24px;
            font-size: 0.875rem;
            font-weight: 700;
            color: black;
    
            background: white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            position: relative;
            right: -56px;
        }
    
        div:last-child {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: $main-color;

            z-index: 101;

            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
    
            img {
                width: 54px;
                height: 54px;
            }
        }
    }

}

footer {
    background: #303740;
    color: lightgrey;
    height: 419px;
    box-sizing: border-box;

    #footer-content-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        padding: 3rem 0;
        border-bottom: 1px solid rgb(68, 68, 68);
    }

    h5 {
        margin-bottom: 1rem;
        font-size: 0.875rem;

        i {
            display: none;
        }
    }
    
    li {
        font-size: 0.875rem;
        font-weight: 300;
        color: lightgrey;
    }
}

#footer-bottom {
    color: $lightgrey;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    svg {
        fill: $main-color;
    }

    #footer-bottom-left {
        font-size: 0.75rem;
        font-weight: 300;
        color: lightgrey;

        flex-shrink: 1;

        div {
            padding: 0.25rem 0;
        }

        div:first-child {
            span:before {
                display: inline-block;
                content: '|';
                font-size: 0.75rem;
                color: grey;
                position: relative;
                top: -2px;
                margin: 0 0.5rem;
            }
        }

        div:nth-child(2) {
            i {
                display: none;
            }
        }
    }

    #sns-icons {
        margin-left: 16px;

        flex-grow: 0;
        flex-shrink: 0;
    }

    .sns-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        background: rgba(211, 211, 211, 0.815);
        border-radius: 50%;
        color: rgb(54, 54, 54);
        float: left;
        margin: 4px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        font-weight: 700;
    }
}

#mobile-bottom-nav {
    display: none;
}

#black {
    display: none;
    width: calc(100% - 282px);
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 150;
    position: absolute;
    top: 0;
    right: 0;

    transition: opacity .5s .5s;
}

#black.show {
    display: block;
    opacity: 1;
    transition: opacity .5s 1s;
}

@media screen and (max-width: 1024px) {
    // 헤더

    $header-height: 50px;

    header {
        height: $header-height;
    }

    header nav {
        height: $header-height;
        justify-content: space-between;

        #mobile-menu-icon {
            display: block;
            font-size: 1.5rem;
            padding: 0;

        }

        #logo {
            position: absolute;
            width: 110px;
            left: 50%;
            transform: translateX(-50%);
        }

        #nav-bar-menu {
            margin: 0;
    
            #dash-board, 
            #search-box, 
            .menuA, 
            #nav-bar-community,
            #nav-bar-alarm,
            #nav-bar-class > span, 
            #nav-bar-class > i.fa-chevron-down {
                display: none;
            }

            #nav-bar-class, #nav-bar-cart, #user-info-wrapper {
                height: $header-height;
            }

            #user-info-wrapper {
                padding-right: 0;

                #user-info {
                    margin: 0;
                }
            }

            i {
                color: $black;
                position: static;
            }

            #mobile-menu-wrapper.show {
                max-width: 100vw;
                transition: max-width .3s;
            }

            #mobile-menu-wrapper::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }

            #mobile-menu-wrapper {
                position: absolute;
                left: 0;
                top: 0;

                height: 100vh;

                max-width: 0;
                overflow-x: hidden;
                transition: max-width .3s;

                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                #mobile-menu-search-box {
                    background: white;
                    border-bottom: 1px solid lightgrey;
                    width: 282px;
                    height: 64px;
                    box-sizing: border-box;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        box-sizing: border-box;
                        width: 256px;
                        height: 40px;
                        padding: 8px 16px;
                        background: rgb(224, 224, 224);
                        border: none;
                        border-radius: 5px;
                        outline: none;
                    }

                    input::placeholder {
                        color: grey;
                    }

                    label {
                        font-size: 20px;
                        position: absolute;
                        right: 24px;
                        cursor: pointer;
                    }
                }

                #class-menu-depth-1::before {
                    display: none;
                }

                #class-menu-depth-1 > li:hover > span {
                    font-weight: 700;
                }

                #class-menu-depth-1 > li:hover {
                    background: rgb(227, 255, 230);
                }

                #mobile-menu-depth-2-box {
                    width: 141px;
                    height: calc(100vh - 50px);
                    position: absolute;
                    top: 64px;
                    left: 141px;
                    background: white;
                }

                .class-menu-depth-2 {
                    top: 64px;
                    left: 141px;
                    border: none;
                    padding: 0;
                    width: 141px;
                    height: calc(100vh - 64px);
                    overflow-y: scroll;

                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                }

                .class-menu-depth-2::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera*/
                }

                .class-menu-depth-2 > li {
                    padding-bottom: 0;
                    border-bottom: none;

                    span {
                        border-bottom: 1px solid lightgrey;
                    }
                }

                .class-menu-depth-3 {
                    position: static;
                    display: block;

                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .3s;

                    width: 100%;
                    height: 100%;
                    border: none;
                    padding: 0;
                    box-shadow: none;

                    li {
                        padding: 0.75rem;
                        background: $lightgrey;
                    }
                }

                .class-menu-depth-3.show {
                    transition: max-height .3s;
                }

                
            }

            #class-menu-depth-1 {
                display: block;
                position: static;
                
                height: calc(100vh - 50px);
                width: 141px;
                padding: 0;

                border-right: 1px solid lightgrey;
                box-shadow: none;

                li {
                    box-sizing: border-box;
                    border-bottom: 1px solid lightgrey;
                    width: 100%;

                    span {
                        padding: 0.75rem;
                    }
                }

                
            }

            #nav-bar-cart:hover {
                background: url("src/icon/lnr-cart.svg") no-repeat center;
            }

            #nav-bar-class:hover {
                background: white;
            }

            #user-info-wrapper:hover #user-drop-menu {
                display: flex;
            }

            #user-drop-menu {
                display: flex;
                flex-direction: column;
                top: 0;
                right: 0;
                margin: 0;
                height: 100vh;

                max-width: 0;
                overflow-x: hidden;

                transition: max-width .3s;
            }

            #user-drop-menu.show {
                max-width: 100%;

                transition: max-width .3s;
            }

            #user-info-list-wrapper {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin: 0;

                #user-info-header {
                    margin: 0;
                }

                #user-info-list {
                    flex-grow: 1;
                    height: auto;
                }
            }
        }
    }

    nav a:hover {
        background: white;
    }

    #class-menu-depth-1 li span:hover,
    .class-menu-depth-3 li:hover {
        color: inherit;
    }

    #mobile-bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;

        display: flex;
        justify-content: space-evenly;
        max-width: 100%;

        background: white;
        height: 56px;

        a {
            display: block;
            box-sizing: border-box;
            width: 64px;
            height: 56px;
            padding: 8px;

            text-align: center;

            i {
                font-size: 20px;
                display: block;
            }

            span {
                font-size: 12px;
            }
        }
    }

    #float-button {
        #float-button-content {

            margin-bottom: 72px;
            
            div:first-child {
                display: none;
            }
    
            div:last-child {
                width: 48px;
                height: 48px;

                img {
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }

    #nav-bar-cart:hover #cart-drop-menu {
        display: none;
    }

    main {
        padding-top: $header-height;
    }

    #mobile-menu-black.showBlack,
    #user-info-black.showBlack {
        margin: 0;
    }

    .showBlack {
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
    }

    #services {
        .container-contents {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content;
        }

        .service-info-container:last-child {
            grid-column: 1 / 3;
        }
    }

    #footer-bottom {
        padding-bottom: 56px;
    }
    
}

@media screen and (max-width: 768px) {

    #main-slide-show-wrapper {
        #main-slide-show {
            height: 240px;

            .main-slide-banner-wrapper {
                .main-slide-image {
                    height: 240px;
                }
            }
            .main-slide-words {
                top: auto;
                bottom: 0;
                transform: none;

                .main-slide-title {
                    font-size: 1.25rem;
                    padding-top: 0.25rem;
                }

                .main-slide-description {
                    display: none;
                }
            }
        }

        .container {
            display: none;
        }

    }




    #input-title {
        font-size: 1.25rem;
    }

    #recent {
        .container-contents {
            grid-template-columns: 1fr;
            grid-gap: 32px;
        }
    }

    #services {
        .container-contents {
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }

        .service-info-container:last-child {
            grid-column: 1;
        }
    }

    footer {
        height: 100%;
        padding-bottom: 56px;

        #footer-content-container {
            grid-template-columns: 1fr;
            grid-gap: 16px;

            padding: 24px 0;
            border-bottom: none;

            .footer-content-column {
                border-bottom: 1px solid rgb(94, 94, 94);

                max-height: 24px;
                overflow: hidden;
                transition: max-height .3s;

                padding-bottom: 16px;

                h5 {
                    display: flex;
                    justify-content: space-between;

                    margin: 0;
                    padding: 8px 0;

                    cursor: pointer;

                    i {
                        display: block;
                        font-weight: bold;
                        padding: 0 16px;
                    }
                }
            }

            .footer-content-column.show {
                transition: max-height .3s;

                h5 i {
                    transform: rotate(180deg);
                }
            } 
    
            .footer-content-column:nth-child(4),
            .footer-content-column:nth-child(5) {
                display: none;
            }
        }

        #footer-bottom {
            text-align: center;
            height: 124px;
            margin-top: 48px;

            #footer-bottom-left > div:first-child {
                a {
                    display: none;
                }

                span::before {
                    display: none;
                }

                span {
                    display: inline-block;
                }
                span:last-child {
                    margin-left: 8px;
                }

            }

            #footer-bottom-left > div:nth-child(2) {
                cursor: pointer;

                i {
                    display: inline-block;
                    margin-left: 4px;
                    font-size: 0.5rem;
                }
            }

            #footer-bottom-left > div:nth-child(3) {
                margin: 8px 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height .3s;
            }

            #footer-bottom-left > div:nth-child(3).show {
                transition: max-height .3s;
            }

            #sns-icons {
                display: none;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    // 배너 recent carousel footer
    #recent {
        .container-contents {
            .class-info {
                flex-direction: column;
                align-items: flex-start;
            }

            .class-meta-info {
                margin-bottom: 8px;
            }
        }
    }
}